body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    display: flex;

}

section{
    align-items: center;
    display: flex;
    padding: 0%;
    height: 90vh;
    width: 90%;
    background-color: black;
    justify-content: center;
}
#child1{
    display: flex;
    height: 70%;
    width: 80%;
    background-color: rgb(4, 77, 4);
    align-items: center;
    justify-content: center;
   
}
#circle{
    height: 200px;
    width: 200px;
    display: flex;
    background-color: red;
    align-items: center;
    border-radius:100%;
}